@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: 'Abyssinica SIL', serif;
}
